@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    margin: 0;
    padding: 0;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    overflow: hidden;
}

div {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.chat-window {
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.chat-header {
    background-color: invert(rgb(var(--background-start-rgb)));
    width: 100%;
    text-align: center;
}

.chat-header-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem;
    border-color: #aad2ef;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.chat-messages {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0.5rem;
    border-color: #957DAD;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.chat-message{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chat-message-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 1rem;
    margin: 0.5rem;
}

.to {
    align-items: flex-end;
    border-color: #facd2e;
}

.from {
    align-items: flex-start;
    border-color: #02bcdd;
}

.chat-input-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    border-color: #957dad;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
}

.chat-input {
    flex-grow: 1;
    margin-right: 0.5rem;
    border-color: #facd2e;
    border-width: 2px;
    border-radius: 10px; 
    background-color: transparent;
    padding: 0.5rem;
}

.chat-send-button {
    background: #facd2e;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0;
    color: black;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
}

.half-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
}

.articles-header-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
    border-color: #aad2ef;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.article-links-container {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.article-link {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.5rem;
    padding: 0.5rem;
    border-color: #aad2ef;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.snackbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 1rem;
    color: black;
    font: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 6px;
}

.success {
    background-color: #03bb48;
}

.error {
    background-color: #bb0303;
}

.info {
    background-color: #facd2e;
}

.laoding-container {
    width: 100%;
    flex-grow: 1;
    color: black;
    font: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 6px;
    text-align: center;
}